
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <center>
        <a class="btn btn-primary" asp-action="List" asp-controller="Cocktail">
            Cocktail Menu
        </a>
        <a class="btn btn-primary" asp-action="List" asp-controller="Order">
            Order Queue
        </a>
        <a class="btn btn-primary" asp-action="CompletedList" asp-controller="Order">
            Orders ready for pickup
        </a>
    </center>