
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
<a class="btn btn-primary" asp-action="List" asp-controller="Cocktail">
    View the menu!
</a>
<a class="btn btn-primary" asp-action="List" asp-controller="Order">
    View the orders!
</a>
</center>